.App {
  text-align: center;
}

.form {
  height: 200px;
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.grocery-list {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.grocery-form {
  /* height: 200px;
    width: 200px;
    display: flex;
    margin-top: 20px;
    justify-content: right; */
    display: inline-block;
  padding: 1rem 1rem;
  vertical-align: top;
    
}

/* .body{
    background-image: url("https://cdn.pixabay.com/photo/2015/12/19/02/12/texture-1099399_960_720.jpg");
    background-color: #cccccc;
       
} */

.logo {
  font-family: europa-boldregular, sans-serif;
    font-weight: 700;
}

.spinach-icon {
  height: 55px;
  width: auto;
  margin-left: 5px;
}

.title {
  font-family: 'Zeyada';
  font-size: 50px;
}

.logout-button {
  font-family: 'Zeyada';
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.welcome {
  display: inline;
  background-color: rgba(255,255,255,0.5);
  border-radius: 25px;
  width: 150px;
}

.welcome-text {
  font-family: 'Zeyada';
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #6DB673 !important;
}

.color-nav {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_jw8c7B_VOQnnOXCRHhKdFehzYL1-criNfw&usqp=CAU");
}

.nav-toggle {
  background-color: rgba(255,255,255,0.5) !important;
}

.nav-link {
  /* font-family: 'Zeyada'; */
  font-size: 20px;
  font-weight: bold !important;
  color: black !important;
}

.me-auto {
  background-color: rgba(255,255,255,0.5) !important;
  text-align: center;
}